<button id="update_from_jira" name="update_from_jira" class="btn btn-round btn-dark pull-right">
    <span>Update From Jira</span>
    <i class="fa fa-download"></i>
</button>

<!--<button id="delete_machine_session" name="delete_machine_session" class="btn btn-round btn-dark pull-right">-->
<!--    <span>Terminate Verification</span>-->
<!--    <i class="fa fa-trash"></i>-->
<!--</button>-->

<button id="edit_machine_session" name="edit_machine_session" class="btn btn-round btn-dark pull-right">
    <span>Edit System</span>
    <i class="fa fa-edit"></i>
</button>

<button id="add_machine_session" name="add_machine_session" class="btn btn-round btn-dark pull-right">
    <span>Add System</span>
    <i class="fa fa-plus"></i>
</button>
