{% extends "base.html" %}

{% block main_content %}

    <div class="container-fluid">

        <div class="panel panel-default">

            <div class="panel-heading title_left">
                <h4 class="pull-left">IBox Verification</h4>
                {% include "main/verified/action-buttons.html" %}
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">

                <div class="row ivt_grid_row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="machines_verified_grid_container">
                        <table class="table table-hover table-striped" id="machines_verified_grid"></table> 
                        <div id="machines_verified_grid_pager"></div>
                    </div>
                </div>

                <br />

                <div class="row ivt_grid_row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="session_task_grid_container">
                        <table class="table table-hover table-striped" id="session_task_grid"></table>
                        <div id="session_task_grid_pager"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% include "modals/modal_add_machine.html" %}

{% endblock %}

{% block docready %} 
    jQuery("li#nav-verified").addClass("active");
    {% include  "common.js" %}
    {% include  "main/verified/session.js" %}
    {% include  "main/verified/session_task.js" %}
{% endblock %} 
