{% extends "base.html" %}

{% block main_content %}

    {% if  current_user.is_authenticated %} 
        Hi {{ current_user.username }}!
    {% else %}
        You are anonymous, aren't you!?
    {% endif %}

    <div class="row">
        <div class="col-sm-12" id="ivtdashboard_grid_container">
            <table id="ivtdashboard_grid" class="summary_report"></table> 
            <div id="ivtdashboard_grid_pager" class="summary_report_pager"></div>
        </div>
    </div>
{% endblock %}

{% block docready %} 
    jQuery("li#nav-dashboard").addClass("active");
    {% include  "main/dashboard/dashboard.js" %}
{% endblock %} 
