<div class="row">
    <div class="col-xsm-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <div class="page-header">
            <div class="login_page_header">
                <img src="{{ url_for('static', filename='images/infinidat-ivt-logo.png') }}" alt="IVT">
                <h1>Sign In To IVT Tracker</h1>
            </div>
        </div>
    </div>
</div>

<br>

<form action="" method="post" class="form" role="form">

    <input id="csrf_token" name="csrf_token" type="hidden" value="1493828373##2f2ceef96bfe25667b2f035f54a329fabc740ebc">

    <div class="form-group  has-error required"><label class="control-label" for="email">Email</label>
        <input class="form-control" id="email" name="email" required type="text" value="momo">
        <p class="help-block">Invalid email address.</p>
    </div>

    <div class="form-group  required"><label class="control-label" for="password">Password</label>
        <input class="form-control" id="password" name="password" required type="password" value="">
    </div>

    <div class="checkbox">
        <label>
        <input id="remember_me" name="remember_me" type="checkbox" value="y"> Keep me logged in
        </label>
    </div>
</form>

<br>

<div class="row">
    <div class="col-md-offset-2 col-md-4 top_buffer">
        <p align="center" style="font-size:18px"><strong>OR</strong></p>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xsm-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a class="btn btn-dark btn-round btn-block" href="{{ url_for('auth.oauth_authorize', provider='google') }}" role="button">
            <i class="fa fa-google"></i> Sign In With Your Google Account
        </a>
    </div>
</div>
